# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Model checkpoints
*.pt
*.pth
*.ckpt

# Vector database
vector_db/

# Embeddings
data/embeddings/

# Dataset
data/train/
data/val/